Repository js-templates/typescript-library: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{md,json}": [
    "prettier --write"
  ]
}

docs(repo): add better template info
  README.md
Due: prettier --write

chore(ci): run tests on push main
  .github/workflows/test-and-build.yml
Due: none

fix: remove yarn commit requirement
  README.md
  package.json
Due: prettier --write

feat: add jest tsconfig paths alias support
  jest.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

feat: lint before build
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

feat: better release notes, remove commit linting
  .cz-config.js
  .czrc
  .github/pr-labeler.yml
  .github/release-drafter.yml
  .husky/commit-msg
  README.md
  commitlint.config.js
Due: eslint --fix, prettier --write

deps: remove unused
  package.json
Due: prettier --write

deps: update everything, minor fixes
  .gitignore
  .prettierrc
  README.md
  package.json
  yarn.lock
Due: prettier --write

fix: emitting issue
  tsconfig.json
Due: prettier --write
